/* Smartphones */
@media (max-width: 650px) {
  /* Utilites */
  * {
    text-align: center;
    max-width: 100%;
  }

  .page-header h2 {
    font-size: 2rem;
    text-align: center;
  }

  .card {
    font-size: 12px;
    margin-bottom: 25px;
  }

  /* Navbar */
  #nav-bar {
    display: block;
    top: 20px;
  }

  .nav-bar-links ul {
    justify-content: center;
  }

  .nav-bar-links li {
    font-size: 10px;
    padding: 4px;
  }

  /* Homepage */
  .homepage {
    background-position: right -200px top 20px;
  }

  .homepage-content h1,
  .homepage-content p,
  .homepage-content .contact-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .homepage-content h1 {
    top: 50px;
    left: 0;
    margin: 0 20px;
    font-size: 3rem;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .homepage-content p {
    background-color: transparent;
    top: 275px;
    left: 0;
    margin: 0 20px;
    font-size: 1rem;
  }
  .homepage-content .contact-btn {
    top: 405px;
    left: 0;
    margin: 0 20px;
    background-color: var(--bright-color);
    color: var(--dark-color);
  }

  .homepage-content .contact-btn:active {
    background-color: var(--bright-color);
    transform: scale(0.8);
  }

  /* About & Services*/
  .about-cards,
  .services-cards,
  .service-icons {
    flex-direction: column;
  }

  /* Services */
  /* Contact */
  .contact-links {
    flex-direction: column;
    margin: 20px 40px;
  }

  .contact-links .fa-envelope {
    animation: shake 2s ease-in infinite;
  }

  .contact-links .fa-phone {
    animation: ring 1.5s ease-in infinite;
  }

  .contact-links .fa-thumbs-up {
    animation: pulse 2s ease-in infinite;
  }

  /* Our Work */
  .panel {
    height: 50vh;
  }

  .panel p {
    font-size: 12px;
  }

  /* Our Work 2 */
  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .img-container {
    margin: 20px;
    padding: 15px;
  }

  .img-container img {
    width: 100%;
  }

  .img-container p {
    padding: 0 15px;
  }

  /* Footer */
  .footer h3,
  .footer li,
  .footer p {
    text-align: left;
  }

  .footer-content {
    left: 0;
  }
}

/* Tablets */
@media (max-width: 1200px) and (min-width: 651px) {
  .homepage-content {
    margin-top: 100px;
  }

  .about-cards,
  .services-cards,
  .service-icons {
    flex-direction: column;
  }

  .contact-links {
    flex-direction: column;
    margin: 20px 40px;
  }

  .card {
    margin: 20px;
  }

  .card h3 {
    margin: 0 160px;
  }

  .serv-icon h4 {
    border-bottom: 2px solid var(--dull-color);
  }

  .serv-icon i {
    color: var(--bright-color);
  }

  .serv-icon::before {
    opacity: 0;
  }

  .contact-links .fa-envelope {
    animation: shake 2s ease-in infinite;
  }

  .contact-links .fa-phone {
    animation: ring 1.5s ease-in infinite;
  }

  .contact-links .fa-thumbs-up {
    animation: pulse 2s ease-in infinite;
  }
}
