:root {
  --bright-color: #e8cf2f;
  --dull-color: #949398ff;
  --light-color: #fff;
  --dark-color: #000;
  --max-width: 1200px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: var(--dark-color);
  color: var(--light-color);
}

/* Utilities */
.container {
  max-width: var(--max-width);
  margin: auto;
  overflow: hidden;
  padding: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 50%;
}

.btn {
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

span {
  color: var(--bright-color);
  animation: fade-in 2s ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-header h2 {
  font-size: 4rem;
  padding: 20px 40px;
  border: 5px solid var(--light-color);
  border-radius: 5px;
  margin: 10px 40px 0px;
}

.card {
  text-align: center;
  border: 4px solid var(--bright-color);
  border-radius: 10px;
  padding: 40px;
  margin: 0px 20px;
}
/* Navbar */
#nav-bar {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  margin-top: 10px;
  background: var(--dark-color);
  color: var(--light-color);
}

.nav-bar-links ul {
  display: flex;
}

.nav-bar-links li {
  padding: 0.75rem 1.5rem;
  letter-spacing: 0.5px;
}

.nav-bar-links a {
  text-transform: uppercase;
}

.nav-bar-links a:hover {
  border-bottom: 2px solid var(--bright-color);
}

/* Homepage */
.homepage {
  background: url(/IMG/paintbrush4.jpg) no-repeat center/cover;
  height: 100vh;
  margin-top: 0px;
  position: relative;
}

.homepage-content h1 {
  font-size: 4rem;
  position: absolute;
  top: 40px;
  left: 75px;
  padding: 22px 40px;
  border: 5px solid var(--light-color);
  border-radius: 5px;
}

.homepage-content p {
  position: absolute;
  background-color: var(--dark-color);
  font-size: 1.25rem;
  top: 170px;
  left: 400px;
  padding: 40px 20px;
  border: 4px solid var(--light-color);
  border-radius: 5px;
}

.homepage-content .contact-btn {
  background-color: var(--dark-color);
  color: var(--light-color);
  border: 3px solid var(--light-color);
  text-transform: uppercase;
  position: absolute;
  top: 260px;
  left: 650px;
  transition: 1s all;
}

.homepage-content .contact-btn:hover {
  background-color: var(--bright-color);
  color: var(--dark-color);
  border: 3px solid var(--dark-color);
}

/* About */

.about-cards {
  display: flex;
  padding: 20px;
}

.about-cards .card:nth-child(2) {
  border: 4px solid var(--dull-color);
}

.about-cards .card h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  letter-spacing: 0.3px;
  border-bottom: 2px solid var(--dull-color);
  padding: 10px;
}

.about-cards .vision h3 {
  border-bottom: 2px solid var(--bright-color);
}

/* Services */
.services-content h2 {
  text-align: end;
}

.services-cards {
  display: flex;
  padding: 20px;
}

.services-cards .card:nth-child(odd) {
  border: 4px solid var(--dull-color);
}

.services-cards .card h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  letter-spacing: 0.3px;
  border-bottom: 2px solid var(--bright-color);
  padding: 10px;
}

.services-cards .decor h3 {
  border-bottom: 2px solid var(--dull-color);
}

.service-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.service-icons .serv-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid var(--light-color);
  border-radius: 10px;
  margin: 20px 30px;
  padding: 40px;
  position: relative;
}

.serv-icon::before {
  content: '\f14a';
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
  font-size: 4rem;
  position: absolute;
  bottom: -60px;
  left: 485px;
  color: var(--bright-color);
}

.serv-icon h4 {
  font-size: 1.6rem;
  border-bottom: 2px solid var(--bright-color);
}

.serv-icon i {
  padding: 20px 0;
  color: var(--dull-color);
}

/* Contact */

.contact-links {
  display: flex;
  text-align: center;
  margin: 50px 70px 20px;
  position: relative;
}

.contact-links .card {
  border: 4px solid var(--dull-color);
}

.contact-links i {
  color: var(--bright-color);
}

.contact-links p {
  padding: 40px 10px;
  font-size: 1.1rem;
}

.contact-links a {
  text-transform: uppercase;
  font-size: 1.3rem;
  border-bottom: 1px solid var(--bright-color);
  transition: all 0.6s ease-in;
}

.contact-links a:hover {
  color: var(--bright-color);
  border-bottom: 1px solid var(--light-color);
}

/* Contact Icon Animations */
.contact-links .fa-envelope {
  animation: shake 2s ease-in 1s 2 forwards;
}

@keyframes shake {
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.contact-links .fa-phone {
  animation: ring 2s ease-in 4s 2 forwards;
}

@keyframes ring {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-3px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(3px);
  }
}

.contact-links .fa-thumbs-up {
  animation: pulse 2s ease-in 7.5s 2 forwards;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/* Our Work */
.our-work-top-p {
  text-align: center;
  color: var(--dull-color);
  padding-top: 20px;
}

.panel-container {
  display: flex;
  width: 90vw;
  margin-bottom: 20px;
}

.panel {
  height: 80vh;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  border: 3px solid var(--light-color);
  border-radius: 20px;
  transition: flex 0.7s ease-in;
  opacity: 0.6;
}

.panel p {
  position: absolute;
  text-align: center;
  bottom: 20px;
  padding: 0 20px;
  opacity: 0;
}

.panel.active p {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.8s;
}

.panel.active {
  flex: 5;
  opacity: 1;
}

.panel-one {
  background: url(/IMG/panel-1.jpg) no-repeat center center/cover;
}

.panel-two {
  background: url(/IMG/panel-2.jpg) no-repeat center center/cover;
}
.panel-three {
  background: url(/IMG/panel-3.jpg) no-repeat center center/cover;
}
.panel-four {
  background: url(/IMG/panel-4.jpg) no-repeat center center/cover;
}
.panel-five {
  background: url(/IMG/panel-5.jpg) no-repeat center center/cover;
}

/* Our Work 2 */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 30px;
  justify-content: center;
}

.img-container {
  position: relative;
  text-align: center;
  border: 3px solid var(--light-color);
  border-radius: 10px;
  margin: 0 50px;
  padding: 30px 10px;
}

.img-container img {
  position: relative;
  width: 80%;
  border-radius: 10px;
}

.img-container p {
  position: absolute;
  bottom: 40px;
  padding: 0px 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.img-container p:hover {
  opacity: 1;
}

/* footer */
.footer {
  background: var(--dark-color);
  padding: 10px;
}

.footer-content {
  margin-left: 20px;
}

.footer-content i {
  padding-right: 10px;
  color: var(--bright-color);
}

.footer-content li {
  font-size: 1.5rem;
}

.footer-content a {
  text-transform: uppercase;
  color: var(--dull-color);
}

.footer-content a:hover {
  transform: scale(1.1);
  border-bottom: 2px solid var(--bright-color);
}

.footer-content p {
  font-size: 0.75rem;
  color: var(--dull-color);
}
