.contactLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 30px 70px 20px;
  position: relative;

  .card {
    border: 4px solid var(--dull-color);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      padding: 16px;
      font-size: 1.1rem;
    }

    .contactNumbers {
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    a {
      font-size: 22px;
      padding: 0 10px;
      border-bottom: 1px solid var(--bright-color);

      &:hover {
        color: var(--bright-color);
        border-bottom: 1px solid var(--light-color);
      }
    }

    .faEnvelope {
      animation: shake 2s ease-in 1s 2 forwards;
      color: var(--bright-color);
      font-size: 50px;
      padding-top: 10px;
    }

    .faPhone {
      animation: ring 2s ease-in 4s 2 forwards;
      color: var(--bright-color);
      font-size: 50px;
      padding-top: 10px;
    }
  }
}

/* Contact Icon Animations */

@keyframes shake {
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ring {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-3px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(3px);
  }
}

@media (max-width: 650px) {
  .contactLinks {
    flex-direction: column;
    margin: 30px 20px;

    .card {
      a {
        font-size: 18px;
      }

      .contactNumbers {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}
