.homepage {
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.homepage h1 {
  width: 75%;
  font-size: 4rem;
  /* margin-top: 40px;
  margin-left: 75px; */
  padding: 22px 40px;
  background-color: transparent;
  border: 5px solid var(--light-color);
  border-radius: 5px;
}

.homepage p {
  width: 50%;
  background-color: transparent;
  /* margin-top: 10px;
  margin-left: 15%; */
  font-size: 1.25rem;
  padding: 40px 20px;
  border: 4px solid var(--light-color);
  border-radius: 5px;
}

.homepage .contact-btn {
  background-color: var(--dark-color);
  color: var(--light-color);
  border: 3px solid var(--light-color);
  text-transform: uppercase;
  margin-top: 260px;
  margin-left: 20%;
  transition: 1s all;
}

.homepage .contact-btn:hover {
  background-color: var(--bright-color);
  color: var(--dark-color);
  border: 3px solid var(--dark-color);
}

@media (max-width: 650px) {
  .homepage {
    background: var(--dark-color);
    margin: 100px 20px 0;
  }

  .homepage h1,
  .homepage p,
  .homepage .contact-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .homepage h1 {
    top: 50px;
    left: 0;
    margin: 0 20px;
    font-size: 3rem;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .homepage p {
    background-color: transparent;
    top: 275px;
    left: 0;
    margin: 0 20px;
    font-size: 1rem;
  }
  .homepage .contact-btn {
    top: 405px;
    left: 0;
    margin: 0 20px;
    background-color: var(--bright-color);
    color: var(--dark-color);
  }

  .homepage .contact-btn:active {
    background-color: var(--bright-color);
    transform: scale(0.8);
  }
}
