/* Smartphones */
@media (max-width: 650px) {
  /* Utilites */

  /* Navbar */

  /* Homepage */

  /* About & Services*/
  .about-cards,
  .services-cards,
  .service-icons {
    flex-direction: column;
  }

  /* Services */
  .serv-icon h4 {
    border-bottom: 2px solid var(--dull-color);
  }

  .serv-icon i {
    color: var(--bright-color);
  }

  /* Contact */
  .contact-links {
    flex-direction: column;
    margin: 20px 40px;
  }

  .contact-links .fa-envelope {
    animation: shake 2s ease-in infinite;
  }

  .contact-links .fa-phone {
    animation: ring 1.5s ease-in infinite;
  }

  .contact-links .fa-thumbs-up {
    animation: pulse 2s ease-in infinite;
  }

  /* Our Work */
  .panel {
    height: 50vh;
  }

  .panel p {
    font-size: 12px;
  }

  /* Our Work 2 */
  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .img-container {
    margin: 20px;
    padding: 15px;
  }

  .img-container img {
    width: 100%;
  }

  .img-container p {
    padding: 0 15px;
  }

  /* Footer */
  .footer h3,
  .footer li,
  .footer p {
    text-align: left;
  }

  .footer-content {
    left: 0;
  }
}

/* Tablets */
@media (max-width: 1200px) and (min-width: 651px) {
  .homepage-content {
    margin-top: 100px;
  }

  .about-cards,
  .services-cards,
  .service-icons {
    flex-direction: column;
  }

  .contact-links {
    flex-direction: column;
    margin: 20px 40px;
  }

  .card {
    margin: 20px;
  }

  .card h3 {
    margin: 0 160px;
  }

  .serv-icon h4 {
    border-bottom: 2px solid var(--dull-color);
  }

  .serv-icon i {
    color: var(--bright-color);
  }

  .serv-icon::before {
    opacity: 0;
  }

  .contact-links .fa-envelope {
    animation: shake 2s ease-in infinite;
  }

  .contact-links .fa-phone {
    animation: ring 1.5s ease-in infinite;
  }

  .contact-links .fa-thumbs-up {
    animation: pulse 2s ease-in infinite;
  }
}
