.navbar {
  position: sticky;
  height: 50px;
  top: 0;
  background: var(--dark-color);
  z-index: 1;

  .navbarLinksContainer {
    width: 100%;

    .navLinks {
      display: flex;
      justify-content: flex-end;
    }

    a {
      cursor: pointer;
      padding: 10px 30px;
      letter-spacing: 0.5px;
      text-transform: uppercase;

      &:hover {
        border-bottom: 2px solid var(--bright-color);
      }
    }
  }

  .navMenu {
    cursor: pointer;
    display: none;
  }

  .navCloseBtn {
    display: none;
  }
}

@media (max-width: 650px) {
  .navbar {
    .navbarLinksContainer {
      .navLinks {
        display: none;
      }
    }

    .navbarLinksContainer.open {
      animation: rotateIn 0.3s ease-in;

      .navLinks {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: linear-gradient(
          to bottom,
          var(--dark-color) 50px,
          var(--bright-color) 50px 100%
        );
        position: absolute;
        width: 100%;
        height: 80vh;

        a {
          display: inline-block;
          color: var(--dark-color);
          font-weight: 600;
          font-size: 22px;
          width: 50%;
          margin-left: 20px;
          text-align: center;
          border-bottom: 2px solid var(--dull-color);
        }
      }
    }

    .navMenu {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 24px;
      display: block;
      color: white;
    }

    .navCloseBtn {
      display: block;
      font-size: 24px;
      position: absolute;
      right: 20px;
      top: 10px;
      color: white;
      cursor: pointer;
    }
  }

  @keyframes rotateIn {
    0% {
      transform-origin: right bottom;
      transform: rotate(-90deg);
    }
    100% {
      transform-origin: right bottom;
      transform: rotate(0);
    }
  }

  /* @keyframes borderSlide {
    0% {
      transform: translateX(-400px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  } */
}
