.navbar {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  top: 0;
  background: var(--dark-color);
}

.navbarLinks ul {
  display: flex;
  margin-right: 20px;
}

.navbarLinks a {
  padding: 10px 30px;
  letter-spacing: 0.5px;
}

.navbarLinks a {
  text-transform: uppercase;
}

.navbarLinks a:hover {
  border-bottom: 2px solid var(--bright-color);
}

@media (max-width: 650px) {
  .navbar {
    display: block;
    top: 0px;
    padding: 20px 0px;
    z-index: 10;
  }

  .navbarLinks ul {
    justify-content: center;
  }

  .navbarLinks li {
    font-size: 10px;
    padding: 4px;
  }
}
