.ourWorkPage {
  /* height: 100vh; */
  background-color: var(--dark-color);

  .galleryCardContainer {
    position: relative;
    padding-bottom: 30px;
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    justify-content: center;
    text-align: center;

    .galleryCard {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      &.cardOne {
        grid-column: 2 / span 2;
        grid-row: span 1;
      }
      &.cardTwo {
        grid-column: span 1;
        grid-row: span 1;
      }
      &.cardThree {
        grid-column: span 1;
        grid-row: span 1;
      }
      &.cardFour {
        grid-column: 2 / span 1;
        grid-row: span 2;
      }
      &.cardFive {
        grid-column: span 2;
        grid-row: span 2;
      }
      &.cardSix {
        grid-column: span 1;
        grid-row: span 2;
      }

      .metadata {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -100%;
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: bottom 0.5s ease-in-out;

        p {
          padding: 10px 0;
        }

        .metadataBtn {
          text-transform: uppercase;
          cursor: pointer;
          padding: 10px 20px;
          border-radius: 10px;
          border: 1px solid var(--dark-color);
          background: linear-gradient(
            to right,
            var(--dark-color) 50%,
            transparent 50%
          );
          background-size: 200% 100%;
          background-position: right bottom;
          transition: all 0.5s ease-out;

          &:hover {
            background-position: left bottom;
            color: white;
          }
        }
      }

      &:hover {
        .metadata {
          bottom: 0;
        }
      }
    }
  }

  .backgroundOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    z-index: 10;
  }

  .popUpGallery {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    font-size: 26px;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-color);
    border: 3px solid var(--dull-color);
    border-radius: 10px;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;

    &.open {
      opacity: 1;
      visibility: visible;
    }

    .popUpDescription {
      color: white;
    }

    .popUpImageContainer {
      position: relative;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(3, auto);
      gap: 10px;
      height: 350px;

      .popUpCard {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        &.popUpOne {
          grid-column: span 2;
          grid-row: span 3;
        }
        &.popUpTwo {
          grid-column: span 3;
          grid-row: span 1;
        }
        &.popUpThree {
          grid-column: span 3;
          grid-row: span 1;
        }
        &.popUpFour {
          grid-column: span 3;
          grid-row: span 1;
        }
      }
    }

    .close {
      cursor: pointer;
      position: absolute;
      display: block;
      padding: 2px 5px;
      line-height: 20px;
      right: -10px;
      top: -10px;
      font-size: 24px;
      background-color: white;
      border-radius: 18px;
      border: 1px solid var(--dull-color);
    }
  }
}

@media (max-width: 650px) {
  .ourWorkPage {
    .galleryCardContainer {
      height: 80vh;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(3, auto);

      .galleryCard {
        &.cardOne {
          grid-column: span 3;
          grid-row: span 2;
        }
        &.cardTwo {
          grid-column: span 2;
          grid-row: span 2;
        }
        &.cardThree {
          grid-column: span 2;
          grid-row: span 2;
        }
        &.cardFour {
          grid-column: span 3;
        }
        &.cardFive {
          grid-column: span 3;
        }
        &.cardSix {
          grid-column: span 2;
        }

        .metadata {
          justify-content: space-evenly;
          .popOverP {
            display: none;
          }
          .metadataBtn {
            padding: 5px 10px;
          }
        }
      }
    }

    .popUpGallery {
      width: 90%;
      height: auto;
    }
  }
}
