.ourWorkPage {
  /* height: 100vh; */
  background-color: var(--dark-color);

  .galleryCardContainer {
    position: relative;
    padding-bottom: 30px;
    margin: 30px;
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 30px;
    justify-content: center;
    text-align: center;

    .galleryCard {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      overflow: hidden;

      img {
        width: 100%;
      }

      .metadata {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -100%;
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: bottom 0.5s ease-in-out;

        p {
          padding: 10px 0;
        }

        .metadataBtn {
          text-transform: uppercase;
          cursor: pointer;
          padding: 10px 20px;
          border-radius: 10px;
          border: 1px solid var(--dark-color);
          background: linear-gradient(
            to right,
            var(--dark-color) 50%,
            transparent 50%
          );
          background-size: 200% 100%;
          background-position: right bottom;
          transition: all 0.5s ease-out;

          &:hover {
            background-position: left bottom;
            color: white;
          }
        }
      }

      &:hover {
        .metadata {
          bottom: 0;
        }
      }
    }
  }
}

/* Modal for gallery: for some reason I cannot get this to work in SCSS, has to be in CSS */
.popUpGallery {
  width: 75%;
  font-size: 28px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-color);
  border: 3px solid var(--dull-color);
  border-radius: 10px;
}

.popUpImageContainer > img {
  width: 20%;
}
