.ourWorkPage {
  /* height: 100vh; */
  background-color: var(--dark-color);

  .galleryCardContainer {
    position: relative;
    padding-bottom: 30px;
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    justify-content: center;
    text-align: center;

    .galleryCard {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      &.cardOne {
        grid-column: 2 / span 2;
        grid-row: span 1;
      }
      &.cardTwo {
        grid-column: span 1;
        grid-row: span 1;
      }
      &.cardThree {
        grid-column: span 1;
        grid-row: span 1;
      }
      &.cardFour {
        grid-column: 2 / span 1;
        grid-row: span 2;
      }
      &.cardFive {
        grid-column: span 2;
        grid-row: span 2;
      }
      &.cardSix {
        grid-column: span 1;
        grid-row: span 2;
      }

      .metadata {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -100%;
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: bottom 0.5s ease-in-out;

        p {
          padding: 10px 0;
        }

        .metadataBtn {
          text-transform: uppercase;
          cursor: pointer;
          padding: 10px 20px;
          border-radius: 10px;
          border: 1px solid var(--dark-color);
          background: linear-gradient(
            to right,
            var(--dark-color) 50%,
            transparent 50%
          );
          background-size: 200% 100%;
          background-position: right bottom;
          transition: all 0.5s ease-out;

          &:hover {
            background-position: left bottom;
            color: white;
          }
        }
      }

      &:hover {
        .metadata {
          bottom: 0;
        }
      }
    }
  }
}

/* Modal for gallery: for some reason I cannot get this to work in SCSS, has to be in CSS */
.popUpGallery {
  position: relative;
  font-size: 28px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 200px;
  background-color: var(--dark-color);
  border: 3px solid var(--dull-color);
  border-radius: 10px;
}

.popUpGallery > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background-color: white;
  border-radius: 18px;
  border: 1px solid var(--dull-color);
}

.popUpImageContainer > img {
  width: 20%;
}

@media (max-width: 650px) {
  .ourWorkPage {
    .galleryCardContainer {
      height: 80vh;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(3, auto);

      .galleryCard {
        &.cardOne {
          grid-column: span 3;
          grid-row: span 2;
        }
        &.cardTwo {
          grid-column: span 2;
          grid-row: span 2;
        }
        &.cardThree {
          grid-column: span 2;
          grid-row: span 2;
        }
        &.cardFour {
          grid-column: span 3;
        }
        &.cardFive {
          grid-column: span 3;
        }
        &.cardSix {
          grid-column: span 2;
        }

        .metadata {
          justify-content: space-evenly;
          p {
            display: none;
          }
          .metadataBtn {
            padding: 5px 10px;
          }
        }
      }
    }
  }
}
