/* Navbar */

/* Homepage */

/* About */

/* Services */

/* Contact */

/* Our Work */

.our-work-top-p {
  text-align: center;
  color: var(--dull-color);
  padding-top: 20px;
}

.panel-container {
  display: flex;
  width: 90vw;
  margin-bottom: 20px;
}

.panel-container h3 {
  width: 100%;
  text-align: center;
}

.panel {
  height: 80vh;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  border: 3px solid var(--light-color);
  border-radius: 20px;
  transition: flex 0.7s ease-in;
  opacity: 0.6;
}

.panel p {
  position: absolute;
  text-align: center;
  bottom: 20px;
  padding: 0 20px;
  opacity: 0;
}

.panel.active p {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.8s;
}

.panel.active {
  flex: 5;
  opacity: 1;
}

/* .panel-one {
  background: url(/IMG/panel-1.jpg) no-repeat center center/cover;
}

.panel-two {
  background: url(/IMG/panel-2.jpg) no-repeat center center/cover;
}
.panel-three {
  background: url(/IMG/panel-3.jpg) no-repeat center center/cover;
}
.panel-four {
  background: url(/IMG/panel-4.jpg) no-repeat center center/cover;
}
.panel-five {
  background: url(/IMG/panel-5.jpg) no-repeat center center/cover;
} */

/* Our Work 2 */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 30px;
  justify-content: center;
}

.img-container {
  position: relative;
  text-align: center;
  border: 3px solid var(--light-color);
  border-radius: 10px;
  margin: 0 50px;
  padding: 35px 5px;
}

.img-container img {
  position: relative;
  width: 80%;
  border-radius: 10px;
}

.img-container p {
  position: absolute;
  margin-top: -400px;
  height: 95%;
  padding: 180px 15px 0px 15px;
  opacity: 0;
  transition: background-color, opacity 0.4s linear;
}

.img-container p:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

/* footer */
